@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-custom-lime: #77FF00;
  --color-custom-yellow: #FFCC00;
  --color-brown-shadow: #AC6120;
  --color-light-shadow: #FFF5CC99;
  --color-cream-text: #EFE5CE;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: ui-sans-serif, system-ui, "Segoe UI", Roboto, Arial, sans-serif;
}
