@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-custom-lime: #7EEB00;
  --color-custom-yellow: #FFCC00;
  --color-custom-yellow-hover: #FFB700;
  --color-custom-yellow-pressed: #CC8500;
  --color-disabled: #586174;
  --color-grey-shadow: #464E5D;
  --color-light-grey-shadow: #BDD3FF33;
  --color-brown-shadow: #AC6120;
  --color-light-shadow: #FFF5CC99;
  --color-cream-text: #EFE5CE;
  --color-inner-border-input: #EFE5CE;
  --color-inner-shadow-input: #A4A4C840;
  --color-chili-red: #FF2B00;
  --color-cream-button-light-shadow: #FAF7F099;
  --color-cream-button-dark-shadow: #CAB37F;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: ui-sans-serif, system-ui, "Segoe UI", Roboto, Arial, sans-serif;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.form-scroll {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 204, 0, 0.7) transparent; /* thumb / track */
}

.form-scroll::-webkit-scrollbar {
  width: 6px;
}

.form-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.form-scroll::-webkit-scrollbar-thumb {
  background: rgba(255, 204, 0, 0.7);
  border-radius: 0; /* или 2px под пиксель-стиль */
}